* {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
  }
  
header {
    position : fixed;
    z-index: 2;
    background-color: rgb(1, 152, 117);
    width: 100%;
    height: 10vh;
    border-bottom: 3px black solid;
    display : flex;
    align-items: center;
    justify-content: space-around;
  }
  
.hnom {
    font-size: 45px;
    text-decoration: none;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.liens a {
    right : 0px;
    text-decoration: none;
    color : white;
    padding : 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
header a {
    color: white;
    transition: color 0.5s;
}

header a:hover {
    color: rgb(170, 170, 170);
}

main {
    position : relative;
    top : 10vh;
}

#hautdescription,
#hautcompetences,
#hautcontact,
#hautreseaux {
    height : 10vh;
}
.section {
    margin-bottom: 30vh;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size : 40px;
    color: rgb(1, 152, 117);
}

p {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#presentation {
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(ellipse at center, rgb(1, 152, 117)0%, rgb(255, 255, 255)70%), center/cover;
}

#presentation h1 {
    font-size: 54px;
    color: white;
}

#presentation p {
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titre_sect {
    margin-left: 2vw;
    margin-bottom: 10vh;
}

#description {
    display: flex;
    justify-content: space-between;
}

#description p {
    margin-left: 2vw;
    width: 60vw;
}

#description a {
    color:black;
    transition: color 0.3s;
}

#description a:hover {
    color: rgb(1, 152, 117);
}

#photo_maxime{
    height: 45vh;
    margin-right: 10vw;
    border: 3px solid rgb(1, 152, 117);
    border-radius: 10px;
}

#competences{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.comp {
    border : 3px solid black;
    color: black;
    background-color: white;
    text-align: center;
    width: 25vw;
    font-size: 22px;
    margin-bottom: 10vh;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: color 0.3s, background-color 0.3s;
}

.comp h1{
    font-size: 30px;
    color : rgb(1, 152, 117);
    background-color: white;
    transition: color 0.3s, background-color 0.3s;
}

.comp:hover,
.comp:hover h1 {
    background-color: rgb(1, 152, 117);
    color: white;
}

form {
    text-align: center;
}

label {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type="text"],
input[type="email"],
textarea {
    border-radius: 3px;
    height: 5vh;
    width : 26vw;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.champ {
    position: relative;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border: 3px solid rgb(1, 152, 117);
}

.champ:focus-within label{
    color:rgb(1, 152, 117);
}

textarea {
    height: 20vh;
}

button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    height: 5vh;
    width: 10vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(1, 152, 117);
}

#reseaux {
    display: flex !important;
    justify-content: space-evenly;
    text-align: center;
}
.icone{
    width : 4vw;
    height : 4vh;
    margin-right: 10px;
}